@import 'mixins/colors';

.Button {
  color: $color__white;
  background-color: $color__black;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.2);

  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .75rem;
  font-weight: 700;

  padding: .5rem 1.5rem;
  margin: 0 .25rem;
  border-radius: .5rem;
  border: 0;

  a {
    color: $color__white;
    text-decoration: none;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  &.is-disabled {
    pointer-events: none;
    background-color: $color_disabled;
  }

  &:focus {
    outline: 0;
  }
}
