@import 'mixins/colors';

.InputNumber {
  width: 100%;
  display: flex;
  align-items: center;


  &.has-error .InputNumber__input {
    border-color: $color__error;
    color: $color__error;
  }
}


.InputNumber__label,
.InputNumber__suffix {
  font-weight: 300;
  font-size: .8rem;
}

.InputNumber__input {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0 .25rem 0 .75rem;
  background: transparent;
  border: 0;
  border-bottom: 1px $color__light solid;
  color: $color__light;
  width: 3rem;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::placeholder {
    color: $color__light;
    opacity: 0.5
  }

  &:focus {
    outline: none;
  }
}
