.InputNumber {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.InputNumber__label {
  font-weight: 300;
  font-size: .8rem;
  margin-right: .75rem;
}

.InputNumber__input {
  background: transparent;
  border: 0;
  border-bottom: 1px #f0f0f0 solid;
  color: #f0f0f0;
  width: 5rem;
}
