.PlaylistsSelector {
  height: 20rem;
  width: 16em;
  background: linear-gradient(0deg, #C6FFDD 0%, #FBD786 40%, #f7797d 100%);
  background-size: cover;
  background-position: center;
  box-shadow: 0px 5px 30px -5px rgba(0, 0, 0, 0.2);
  color: #f0f0f0;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.PlaylistsSelector__form {
  width: calc(100% - 2em);
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 1rem;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.PlaylistsSelector__form > *:last-child {
  margin-bottom: 0;
}
