$color__black: #000000;
$color__dark: #272727;
$color__light: #f0f0f0;
$color__white: #ffffff;
$color__error: #b30309;
$color__accent: #6FC876;
$color__shade-green: #C6FFDD;
$color__shade-yellow: #FBD786;
$color__shade-red: #f7797d;
